* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {

    font-family:
        Arial,
        Helvetica,
        sans-serif;

    background: #090d16;

    color: white;

}

a {

    text-decoration: none;

    color: inherit;

}

.header {

    height: 75px;

    padding: 0 8%;

    display: flex;

    align-items: center;

    justify-content: space-between;

    background: rgba(
        9,
        13,
        22,
        0.95
    );

    border-bottom:
        1px solid #1e293b;

    position: sticky;

    top: 0;

    z-index: 100;

}

.logo {

    font-size: 20px;

    font-weight: bold;

}

.logo span {

    color: #8b5cf6;

}

nav {
    display: flex;
    align-items: center;
    gap: 12px;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 20px;

    color: #94a3b8;
    background: #111827;

    border: 1px solid #253044;
    border-radius: 999px;

    font-size: 14px;
    font-weight: 600;

    transition:
        color 0.25s ease,
        background 0.25s ease,
        border-color 0.25s ease,
        transform 0.25s ease,
        box-shadow 0.25s ease;
}

nav a:hover {
    color: white;
    background: #1e1b4b;
    border-color: #8b5cf6;

    transform: translateY(-2px);

    box-shadow:
        0 6px 20px rgba(124, 58, 237, 0.25);
}

.hero {

    min-height: 620px;

    padding: 80px 8%;

    display: flex;

    align-items: center;

    justify-content: space-between;

    gap: 70px;

    background:

        radial-gradient(
            circle at 20% 30%,
            rgba(124, 58, 237, 0.20),
            transparent 35%
        ),

        #090d16;

}

.hero-content {

    max-width: 620px;

}

.hero-label {

    color: #8b5cf6;

    letter-spacing: 2px;

    font-size: 13px;

    font-weight: bold;

    margin-bottom: 20px;

}

.hero h1 {

    font-size: 62px;

    line-height: 1.1;

    margin-bottom: 25px;

}

.hero h1 span {

    display: block;

    background:
        linear-gradient(
            90deg,
            #8b5cf6,
            #22d3ee
        );

    

    background-clip: text;

    

    -webkit-background-clip: text;

    color: transparent;

    -webkit-text-fill-color: transparent;

}

.hero-description {

    color: #94a3b8;

    line-height: 1.8;

    font-size: 18px;

}

.hero-buttons {

    display: flex;

    gap: 15px;

    margin-top: 35px;

}

.btn {

    padding: 14px 25px;

    border-radius: 8px;

    font-weight: bold;

    transition: 0.25s;

}

.primary {

    background: #7c3aed;

}

.primary:hover {

    background: #6d28d9;

    transform:
        translateY(-2px);

}

.secondary {

    border:
        1px solid #334155;

    color: #cbd5e1;

}

.secondary:hover {

    background: #1e293b;

}

.code-window {

    width: 450px;

    background: #111827;

    border:
        1px solid #293548;

    border-radius: 15px;

    overflow: hidden;

    box-shadow:
        0 30px 80px
        rgba(0, 0, 0, 0.4);

}

.code-window-header {

    height: 45px;

    padding: 0 15px;

    display: flex;

    align-items: center;

    border-bottom:
        1px solid #293548;

}

.code-window-header p {

    margin: auto;

    color: #64748b;

    font-size: 13px;

}

.dots {

    display: flex;

    gap: 6px;

}

.dots span {

    width: 10px;

    height: 10px;

    border-radius: 50%;

}

.dots span:nth-child(1) {

    background: #ef4444;

}

.dots span:nth-child(2) {

    background: #eab308;

}

.dots span:nth-child(3) {

    background: #22c55e;

}

.code-window pre {

    padding: 30px;

    color: #cbd5e1;

    line-height: 1.8;

    overflow: auto;

}

.code-purple {

    color: #c084fc;

}

.code-blue {

    color: #38bdf8;

}

.code-green {

    color: #4ade80;

}

.lesson-section {

    padding: 100px 8%;

    background: #0d131f;

}

.section-title {

    max-width: 650px;

    margin-bottom: 50px;

}

.section-title > p {

    color: #8b5cf6;

    font-size: 13px;

    letter-spacing: 2px;

    font-weight: bold;

    margin-bottom: 10px;

}

.section-title h2 {

    font-size: 40px;

    margin-bottom: 15px;

}

.section-title span {

    color: #94a3b8;

    line-height: 1.7;

}

.lesson-grid {

    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 22px;

}

.lesson-card {

    position: relative;

    min-height: 270px;

    padding: 30px;

    background: #111827;

    border:
        1px solid #253044;

    border-radius: 14px;

    overflow: hidden;

    transition: 0.25s;

}

.lesson-card:hover {

    transform:
        translateY(-7px);

    border-color:
        #7c3aed;

    box-shadow:

        0 20px 40px
        rgba(0, 0, 0, 0.25);

}

.lesson-number {

    position: absolute;

    right: 20px;

    top: 10px;

    font-size: 52px;

    font-weight: bold;

    color:
        rgba(
            255,
            255,
            255,
            0.04
        );

}

.lesson-icon {

    width: 55px;

    height: 55px;

    display: flex;

    justify-content: center;

    align-items: center;

    background:
        rgba(
            124,
            58,
            237,
            0.12
        );

    color: #a78bfa;

    font-weight: bold;

    border-radius: 10px;

    margin-bottom: 25px;

}

.lesson-label {

    color: #8b5cf6;

    font-size: 12px;

    letter-spacing: 1px;

    font-weight: bold;

}

.lesson-card h3 {

    font-size: 25px;

    margin-top: 7px;

    margin-bottom: 14px;

}

.lesson-description {

    color: #94a3b8;

    line-height: 1.6;

}

.open {

    display: inline-block;

    margin-top: 25px;

    color: #a78bfa;

    font-weight: bold;

}

.lesson-card:last-child {

    grid-column: 2;

}

.about {

    padding: 100px 8%;

    text-align: center;

    max-width: 800px;

    margin: auto;

}

.about > p {

    color: #8b5cf6;

    font-size: 13px;

    letter-spacing: 2px;

    font-weight: bold;

    margin-bottom: 12px;

}

.about h2 {

    font-size: 40px;

    margin-bottom: 15px;

}

.about span {

    color: #94a3b8;

    line-height: 1.7;

}

.exercise-page {

    min-height: 800px;

    padding: 50px 8% 100px;

    background:

        radial-gradient(
            circle at center top,
            rgba(124, 58, 237, 0.13),
            transparent 40%
        ),

        #090d16;

}

.breadcrumb {

    max-width: 1000px;

    margin:
        0 auto 30px;

    display: flex;

    gap: 10px;

    color: #64748b;

}

.breadcrumb a {

    color: #a78bfa;

}

.exercise-container {

    max-width: 1000px;

    margin: auto;

    padding: 45px;

    background: #111827;

    border:
        1px solid #253044;

    border-radius: 18px;

}

.exercise-header {

    display: flex;

    align-items: center;

    justify-content:
        space-between;

    margin-bottom: 35px;

}

.exercise-label {

    color: #8b5cf6;

    font-size: 12px;

    font-weight: bold;

    letter-spacing: 2px;

    margin-bottom: 8px;

}

.exercise-header h1 {

    font-size: 42px;

}

.exercise-path {

    color: #64748b;

    margin-top: 8px;

    font-family: monospace;

}

.cpp-badge {

    width: 70px;

    height: 70px;

    display: flex;

    align-items: center;

    justify-content: center;

    background:
        rgba(
            124,
            58,
            237,
            0.15
        );

    color: #a78bfa;

    border:
        1px solid
        rgba(
            139,
            92,
            246,
            0.4
        );

    border-radius: 12px;

    font-weight: bold;

}

.source-window {

    background: #090d16;

    border:
        1px solid #253044;

    border-radius: 12px;

    overflow: hidden;

}

.source-header {

    height: 45px;

    padding: 0 15px;

    display: flex;

    align-items: center;

    border-bottom:
        1px solid #253044;

}

.source-header p {

    margin: auto;

    color: #64748b;

    font-size: 13px;

}

.source-window pre {

    min-height: 300px;

    padding: 30px;

    overflow: auto;

    font-size: 15px;

    line-height: 1.7;

    color: #cbd5e1;

}

.exercise-navigation {

    margin-top: 35px;

    display: flex;

    justify-content:
        space-between;

}

.nav-btn {

    padding: 12px 22px;

    border:
        1px solid #334155;

    border-radius: 8px;

    color: #cbd5e1;

    transition: 0.25s;

}

.nav-btn:hover {

    border-color:
        #7c3aed;

    background:
        #1e293b;

}

.nav-next {

    background: #7c3aed;

    border-color:
        #7c3aed;

    color: white;

}

.nav-next:hover {

    background: #6d28d9;

}

footer {

    min-height: 100px;

    padding: 30px 8%;

    display: flex;

    align-items: center;

    justify-content:
        space-between;

    border-top:
        1px solid #1e293b;

    color: #64748b;

}

.footer-logo {

    color: #cbd5e1;

    font-weight: bold;

}

.footer-class {
    margin-top: 18px;
    font-size: 18px;
    opacity: 0.6;
}

@media (max-width: 1000px) {

    .hero {

        flex-direction: column;

        align-items:
            flex-start;

    }

    .code-window {

        width: 100%;

    }

    .lesson-grid {

        grid-template-columns:
            repeat(2, 1fr);

    }

    .lesson-card:last-child {

        grid-column: auto;

    }

}

@media (max-width: 650px) {

    .header {

        padding:
            0 5%;

    }

    nav {

        gap: 12px;

    }

    nav a {

        font-size: 13px;

    }

    .hero {

        padding:
            60px 5%;

    }

    .hero h1 {

        font-size: 42px;

    }

    .hero-buttons {

        flex-direction: column;

    }

    .lesson-section {

        padding:
            70px 5%;

    }

    .lesson-grid {

        grid-template-columns:
            1fr;

    }

    .exercise-page {

        padding:
            40px 5%;

    }

    .exercise-container {

        padding: 25px;

    }

    .exercise-header h1 {

        font-size: 32px;

    }

    .cpp-badge {

        width: 55px;

        height: 55px;

    }

    .exercise-navigation {

        gap: 10px;

    }

    footer {

        flex-direction: column;

        gap: 15px;

        text-align: center;

    }

}

.runner {
    margin-top: 35px;

    padding: 30px;

    background: #0b101b;

    border: 1px solid #253044;

    border-radius: 14px;
}


.runner-title {
    display: flex;

    align-items: center;

    justify-content: space-between;

    margin-bottom: 25px;
}


.runner-title h2 {
    margin-top: 5px;

    font-size: 25px;
}


.terminal-badge {
    padding: 8px 14px;

    background: rgba(34, 211, 238, 0.1);

    border: 1px solid rgba(34, 211, 238, 0.3);

    color: #22d3ee;

    border-radius: 20px;

    font-size: 12px;

    font-weight: bold;
}


.runner form {
    display: flex;

    flex-direction: column;

    gap: 12px;
}


.runner label {
    color: #cbd5e1;

    font-weight: bold;

    font-size: 14px;
}


.runner textarea {
    width: 100%;

    min-height: 150px;

    padding: 18px;

    resize: vertical;

    background: #060a11;

    color: #e2e8f0;

    border: 1px solid #334155;

    border-radius: 10px;

    outline: none;

    font-family: monospace;

    font-size: 15px;

    line-height: 1.6;
}


.runner textarea:focus {
    border-color: #7c3aed;

    box-shadow:
        0 0 0 3px
        rgba(124, 58, 237, 0.12);
}


.run-button {
    width: fit-content;

    padding: 12px 25px;

    margin-top: 5px;

    border: none;

    border-radius: 8px;

    background: #7c3aed;

    color: white;

    font-size: 14px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.25s;
}


.run-button:hover {
    background: #6d28d9;

    transform: translateY(-2px);
}


.output-container {
    margin-top: 30px;

    background: #060a11;

    border: 1px solid #253044;

    border-radius: 10px;

    overflow: hidden;
}


.output-header {
    height: 45px;

    padding: 0 16px;

    display: flex;

    align-items: center;

    justify-content: space-between;

    border-bottom: 1px solid #253044;

    color: #94a3b8;

    font-size: 13px;
}


.run-status {
    color: #4ade80;

    font-size: 12px;

    font-weight: bold;
}


.program-output {
    min-height: 150px;

    padding: 20px;

    overflow: auto;

    color: #4ade80;

    font-family: monospace;

    font-size: 15px;

    line-height: 1.6;

    white-space: pre-wrap;
}

body {
    animation: pageEnter 0.45s ease;
}

@keyframes pageEnter {
    from {
        opacity: 0;
        transform: translateY(12px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.exercise-container {
    animation: exerciseEnter 0.5s ease;
}

@keyframes exerciseEnter {
    from {
        opacity: 0;
        transform: translateX(24px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.source-window {
    animation: sourceEnter 0.55s ease;
}

@keyframes sourceEnter {
    from {
        opacity: 0;
        transform: scale(0.985);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.runner {
    animation: runnerEnter 0.65s ease;
}

@keyframes runnerEnter {
    from {
        opacity: 0;
        transform: translateY(18px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav-btn {
    transition:
        transform 0.25s ease,
        background 0.25s ease,
        border-color 0.25s ease;
}

.nav-btn:hover {
    transform: translateX(-3px);
}

.nav-next:hover {
    transform: translateX(3px);
}

.resources {
    padding: 100px 8%;
    background:
        radial-gradient(
            circle at 80% 50%,
            rgba(34, 211, 238, 0.07),
            transparent 35%
        ),
        #090d16;
}

.resource-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

.resource-card {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;

    min-height: 150px;
    padding: 25px;

    background: #111827;
    border: 1px solid #253044;
    border-radius: 16px;

    transition:
        transform 0.25s ease,
        border-color 0.25s ease,
        box-shadow 0.25s ease;
}

.resource-card:hover {
    transform: translateY(-5px);
    border-color: #7c3aed;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

.resource-icon {
    min-width: 65px;
    height: 65px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(124, 58, 237, 0.12);
    border: 1px solid rgba(139, 92, 246, 0.25);
    border-radius: 15px;

    color: #a78bfa;
    font-size: 15px;
    font-weight: bold;
}

.resource-type {
    color: #8b5cf6;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.resource-card h3 {
    margin: 6px 0 8px;
    font-size: 21px;
}

.resource-card p {
    color: #94a3b8;
    line-height: 1.6;
    font-size: 14px;
}

.resource-arrow {
    margin-left: auto;
    color: #64748b;
    font-size: 22px;
    transition: 0.25s;
}

.resource-card:hover .resource-arrow {
    color: #a78bfa;
    transform: translate(3px, -3px);
}

@media (max-width: 750px) {
    .resource-grid {
        grid-template-columns: 1fr;
    }

    .resources {
        padding: 70px 5%;
    }
}